body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.offcanvas {
    transition: all 0.3s ease-in-out;
}

  .offcanvas-body ul {
    list-style: none;
    padding: 0;
  }

  .offcanvas-body ul li {
    margin-bottom: 10px;
  }

.offcanvas-body ul li a {
  position: relative; 
  color: #5e5d5d;
  text-decoration: none;
  padding: 10px;
  overflow: hidden; 
}

.offcanvas-body ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: chocolate;
  z-index: -1;
  transition: width 0.5s ease-in-out; 
}

.offcanvas-body ul li a:hover::before {
  width: 100%;
}

.offcanvas-body ul li a:hover {
  color: #fff;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
  height: 100vh;
  background-color: #ddd6d6;
  width: 300px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

.submenu li {
  margin-top: 5px;
}

.submenu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 40px;
  transition: all 0.5s ease-in-out;
}

.submenu li a:hover {
  color: #ccc;
}

  .navbar-brand img {
    max-height: 40px;
    max-width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: none;
    height: 130px;
}

  .scroll-down {
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.landing{
  margin-top: 150px;
}

@keyframes falling {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

.carousel-caption {
  animation: falling 1.5s ease-in-out forwards;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
}
.carousel-text p{
  color: #666666;
}
.carousel-text p:nth-child(2){
  font-size: 45px !important;
  font-weight: 800;
}
.carousel-text p:nth-child(3){
  font-size: 12px;
  width: 100%;
}

.custom-btn{
  border:1px solid  #c8a165;
}
.custom-btn:hover{
   background-color: #c8a165 !important;
   color:#fff
 }

@media (max-width: 992px) {
  .carousel-text p{
    font-size: 13px;
  }

  .carousel-text p:nth-child(2){
    font-size: 20px !important;
  }
  .carousel-text {
    top: 0;
  }
  .icons{
    order:-1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:row !important;
  }
  .icons i{
    margin:20px 10px;
  }

  .landing{
    margin-top: 100px;
  }
}


.image-container {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.image-data {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  transition: all 0.5s ease-in-out;
}


.image-data span {
  display: block;
}

.new-product {
  font-weight: 800;
  font-size:20px;
  color: #666666; 
}

.new-tag{
  background-color: #c8a165;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 30px;
  left: 10px;
}

.price{
  position: absolute;
  top: 30px;
  right: 10px;
}

.year {
  font-weight: 800;
}

.product-name{
  color: #666666;
  font-weight: bold;
  font-size:18px;
  position: absolute;
  bottom: 30px;
  left: 10px;;
}
.category {
  position: absolute;
  bottom: 0px;
  left: 10px;;
}

.product-desc {
  font-size: 13px;
}

.buy-now-btn {
  margin-top: 10px;
}
.buy-now-btn_1 {
  margin-top: 10px !important;
  position: absolute;
  bottom: 10px;
  right: 10px;;
}

.image-container:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}


.search-hover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.5s ease-in-out;

}

.search-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index:999;
}

i{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

i:hover{
color:#c8a165;
}

/* Featured Products */
.second-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.card-home {
  margin: 10px 0.5em;
  box-shadow: 0px 2px 4px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.btn-second-carousel-prev,
.btn-second-carousel-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 20vh;
  top: 40%;
  transform: translateY(-50%);
  color: black;
  display: block !important;
  font-size: 14px;
  font-weight: 900;
}

@media (min-width: 768px) {
  .second-carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .second-carousel {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

.text-header{
  font-size: 30px;
  font-weight: bold;
  color: #666666;

}

.text-header::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #c8a165;
  margin: 10px auto;
}

.card-home:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}


.fav-btn-active{
  color: rgb(178, 35, 35);
}

.icons a{
  text-decoration: none;
  color: #000000;

}

.discount{
  margin-top: 150px !important;
}

.discount-text{
  position: absolute;
  top: 0;
  right: 0;
  text-align: start;
  color: #fff;
  padding: 50px;


}

.discount-text h1{

  color: #c87065;
  font-weight: 800;
}

.discount-text p{
  color: #666666;
  font-weight: bolder;
  font-size: 14px;
  max-width: 500px;
}

.discount-text .btn{
  background-color: #c87065;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}


ul.slides input {
  display: none; 
}


.slide-container { 
  display: block; 
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}   

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
   display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


.onsale{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c87065;
  color: white;
  padding: 10px;
  border-radius: 0 0 0 10px;
}
